# Due to sensitive nature of credentials and resource names, the terraform.tfvars file will not be synched in the git repo.
# For this demo environment configuration, please place an appropriate `terraform.tfvars` in each folder.
# These are the variables used in the first three examples
oauthClientId = "oauth-client-id"               # Use the generated OAuth Client ID from GCX UI here...
oauthClientSecret = "oath-client-secret"        # Use the generated OAuth CLient Secret from GCX UI here...
oauthAWSRegion = "eu-central-1"                 # Specify the OAuth AWS Region here...
# Other variables may be added in later examples... Just add them in the same format using the variables.tf as your guide to the variable names.